{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block body %} 

<h2>About</h2>

<hr>
<br>
<p>Bucket-list is an application designed for users to create, read, update, and share the activities they would like to do before "kicking the bucket". Public users are able to access our "public Bucket List", see our about page, and register an account. Once you register an account you are welcome to add to your own bucket-list and share your activities with the world as a "contributor". You will also have access to change your personal account information as well. Administrators of this website are able to edit and delete recipes and user accounts so we ask that you always be respectful when using our services. Bucket-list was created by Marcus Porter in fall 2020 for a Software Design class at the University of Iowa. Thank you again for visiting our site and lets enjoy life together!</p>


{% endblock %}