{% extends 'base.html' %}

{% block title %} Bucket List {% endblock %}


{% block body %} 

<h2> Welcome to Bucket-List!</h2>

<hr>
<p>At bucket-list, we want you to fill your own bucket-list with all the fun and exciting activities you want to do in life. Click on the "Public Bucket-List" link above to view activities our users have already added or you can register an account to start contributing today. Once you've logged in, please enjoy Sharing your bucket list with the world!</p>

<a href= "{{ url_for('login') }}">login</a>
<br><br>

{% endblock %}