{% extends 'base.html' %}

{% block title %} Bucket List {% endblock %}


{% block body %} 

<h2> Welcome to Bucket-List!</h2>

<hr>
<p>At bucket-list, we want you to be able to create your very own private bucket list of all the activities  you want to do in life before you "kick the bucket". You are also welcome to share your activities with the world. You are welcome to browse our "Public Bucket List" link above or you can register an account to start contributing to you Bucket-List. Once you've logged in, please enjoy Sharing your bucket list with the world!</p>

<a href= "{{ url_for('login') }}">login</a>
<br><br>

{% endblock %}