
{% extends 'base.html' %}

{% block title %} Login Page{% endblock %}


{% block body %} 
<br/>
<br/>
<form method=POST action="{{ url_for('login') }}">



    <div class="row"> 
        <div class="col-md-4"> </div>
        <div class="col-md-4 form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus>
        </div>
    </div>


    <div class="row"> 
        <div class="col-md-4"> </div>
        <div class="col-md-4 form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
    </div>


    <div class="row"> 
        <div class="col-md-4"> </div>
        <div class="col-md-4 form-group">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>

</form>



<div class="row"> 
    <div class="col-md-4"> </div>
    <div class="col-md-6 form-group">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
    </div>
</div>
{% endblock %}